@use 'src/scss/core' as *;
@use 'src/scss/mixins/modals' as *;

.new-modal {
  @include modal;

  flex-direction: column;
  align-items: center;
  width: 35vmin;
  height: 25vmin;

  * {
    color: $nord6;
  }

  .new-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;

    button {
      @include styled-box($small-styled-box-config, $nord14, 25vmin, 6vmin);

      font-size: 2.5vmin;
    }
  }
}
