@use '../../../scss/style' as *;

.new-modal {
  @include modal;

  flex-direction: column;
  align-items: center;
  width: 30vmin;
  height: 25vmin;

  * {
    color: $nord6;
  }

  .new-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;

    button {
      @include styled-box(true, $nord14, 20vmin, 6vmin, 0.5vmin);

      font-size: 2.5vmin;
    }
  }
}
