@use 'src/scss/core' as *;

.Uncollected {
  display: grid;
  grid-template:
    'a a b'
    'a a c'
    'a a c';
  grid-template-columns: 5fr 5fr 2fr;
  grid-template-rows: 1fr 2fr 2fr;
  width: 90vw;
  height: 75vh;
  margin: auto;
  margin-top: 5vh;
  gap: 3vmin 4vmin;

  > div {
    @include styled-border;
  }

  // TODO: refactor to mixin
  .decks {
    display: grid;
    grid-area: a;
    grid-template-columns: repeat(auto-fit, minmax(20vmin, 1fr));
    padding: 7.5vmin;
    overflow-y: scroll;
    gap: 7.5vmin;

    .deck-preview {
      @include styled-box-animated($large-styled-box-config, $nord1, 20vmin, 20vmin);

      position: relative;

      .type-icon {
        @include type-icon;
      }

      .name {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75%;
        height: 100%;
        margin: auto;
        font-size: 2.5vmin;
        text-align: center;
        overflow-wrap: anywhere;
        user-select: none;
      }
    }

    .text {
      margin: auto;
      font-size: 2.5vmin;
    }
  }

  .new {
    display: flex;
    grid-area: b;
    align-items: center;
    justify-content: center;

    button {
      @include styled-box-animated($small-styled-box-config, $nord14, 15vmin, 6vmin);

      font-size: 2.5vmin;
    }

    .disabled {
      color: $nord3;
      text-decoration: line-through;
    }
  }

  .uncollected-info {
    display: flex;
    grid-area: c;
    flex-direction: column;
    justify-content: center;
    padding: 1.5vmin 0 3vmin;

    > * {
      text-align: center;
    }

    .info-name {
      width: 70%;
      max-height: 30%;
      overflow: hidden;
      font-size: 3vmin;
      text-overflow: ellipsis;
    }

    > hr {
      width: 80%;
    }

    > div {
      margin: auto;
      font-size: 2.25vmin;
    }
  }
}
