@use 'src/scss/core' as *;
@use 'src/scss/mixins/grid-layouts' as *;
@use 'src/scss/mixins/modals' as *;

.collection-modal {
  @include modal;

  width: 100vmin;
  height: 75vmin;

  .collections {
    @include grid-entries;

    width: 100%;

    .collection-preview {
      @include styled-box($large-styled-box-config, $nord1, 20vmin, 20vmin);

      .name {
        @include grid-entry-text;

        user-select: none;
      }
    }

    .collection-disabled {
      color: $nord3;
      text-decoration: line-through;

      &:hover {
        cursor: not-allowed;
      }
    }

    .text {
      margin: auto;
      font-size: 2.5vmin;
    }
  }
}
