@use '../../../scss/style' as *;

.Decks {
  display: grid;
  grid-template:
    'a a a a a a b'
    'a a a a a a c'
    'a a a a a a c'
    'a a a a a a c';
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 24vmin;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 90vw;
  height: 75vh;
  margin: auto;
  margin-top: 5vh;
  gap: 3vmin 4vmin;

  > div {
    @include styled-border;
  }

  .decks {
    display: flex;
    grid-area: a;
    flex-wrap: wrap;
    overflow-y: scroll;

    .deck-preview {
      @include styled-box($nord1, 20vmin, 20vmin, 1vmin, 0.3vmin);

      margin: 7.5vmin;

      .name {
        display: flex;
        align-items: center;
        width: 75%;
        height: 100%;
        margin: auto;
        font-size: 3.25vmin;
        text-align: center;
        overflow-wrap: anywhere;
        user-select: none;
      }
    }

    .deck-text {
      margin: auto;
      font-size: 2.5vmin;
    }
  }

  .new {
    display: flex;
    grid-area: b;
    align-items: center;
    justify-content: center;

    button {
      @include styled-box($nord14, 15vmin, 6vmin, 0.5vmin);

      font-size: 2.5vmin;
    }

    .disabled {
      color: $nord3;
      text-decoration: line-through;
    }
  }

  .curated {
    grid-area: c;
  }
}
