@use 'src/scss/core' as *;

.practice-layout {
  .toggle-language {
    @include styled-box($small-styled-box-config, $nord0, 5vmin, 5vmin);
    @include translate-styled-box-animated(-30vmin, -15vmin);

    background: $nord9;
  }

  .show-pronunciation {
    @include styled-box($small-styled-box-config, $nord0, 30vmin, 5vmin);
    @include translate-styled-box-animated(0, 14vmin);

    background: $nord9;
  }

  .disabled {
    color: $nord3;
    text-decoration: line-through;

    &:hover {
      cursor: not-allowed;
    }
  }
}
