@use 'src/scss/core' as *;
@use 'src/scss/mixins/sliders' as *;

.Practice {
  @include styled-border;

  display: flex;
  width: 90vw;
  height: 75vh;
  margin: auto;
  margin-top: 5vh;

  .text {
    margin: auto;
    font-size: 2.5vmin;
  }

  .practice-layout {
    @include slider-layout;

    .shuffle {
      @include styled-box-animated($small-styled-box-config, $nord0, 5vmin, 5vmin);
      @include translate-styled-box-animated(-40vmin, -15vmin);

      background: $nord12;
    }

    .flip {
      @include styled-box-animated($small-styled-box-config, $nord0, 15vmin, 6vmin);
      @include translate-styled-box-animated(35vmin, -15vmin);

      background: $nord9;
    }
  }
}
