@use '../../../scss/style' as *;

.Practice {
  @include styled-border;

  display: flex;
  width: 90vw;
  height: 75vh;
  margin: auto;
  margin-top: 5vh;

  .text {
    margin: auto;
    font-size: 2.5vmin;
  }

  .practice-layout {
    @include slider-layout;

    .shuffle {
      @include styled-box(true, $nord0, 5vmin, 5vmin, 0.5vmin);
      @include translate-styled-box(-40vmin, -15vmin);

      background: $nord12;
    }

    .flip {
      @include styled-box(true, $nord0, 15vmin, 6vmin, 0.5vmin);
      @include translate-styled-box(35vmin, -15vmin);

      background: $nord9;
    }
  }
}
