@use '../../../scss/style' as *;

.Editor {
  display: grid;
  grid-template:
    'a'
    'b';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  width: 80%;
  height: 80%;
  margin: auto;

  .name {
    grid-area: a;
    border: unset;
    outline: unset;
    background: unset;
    font-size: 3.5vmin;
    text-align: center;
  }

  > button {
    z-index: 2;
    grid-area: b;
    margin: auto;
    font-size: 2.5vmin;
  }

  .interact-button {
    @include styled-box(true, $nord0, 5vmin, 5vmin, 0.5vmin);
  }

  .disabled {
    color: $nord3;
    text-decoration: line-through;

    &:hover {
      cursor: not-allowed;
    }
  }

  .delete-card {
    @include translate-styled-box(-40vmin, -15vmin);

    background: $nord11;
  }

  .wipe-card {
    @include translate-styled-box(-30vmin, -15vmin);

    background: $nord12;
  }

  .new-card {
    @include translate-styled-box(30vmin, -15vmin);

    background: $nord14;
  }

  .submit-deck {
    @include translate-styled-box(40vmin, -15vmin);

    background: $nord15;
  }
}
