@use 'src/scss/core' as *;

.Collections {
  display: grid;
  grid-template:
    'a a b'
    'a a c'
    'a a c';
  grid-template-columns: 5fr 5fr 2fr;
  grid-template-rows: 1fr 2fr 2fr;
  width: 90vw;
  height: 75vh;
  margin: auto;
  margin-top: 5vh;
  gap: 3vmin 4vmin;

  > div {
    @include styled-border;
  }

  // TODO: refactor to mixin
  .collections {
    display: grid;
    grid-area: a;
    grid-template-columns: repeat(auto-fit, minmax(20vmin, 1fr));
    padding: 7.5vmin;
    overflow-y: scroll;
    gap: 7.5vmin;

    .collection-preview {
      @include styled-box($large-styled-box-config, $nord1, 20vmin, 20vmin);

      position: relative;

      .type-icon {
        @include type-icon;
      }

      .name {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75%;
        height: 100%;
        margin: auto;
        font-size: 2.5vmin;
        text-align: center;
        overflow-wrap: anywhere;
        user-select: none;
      }
    }

    .text {
      margin: auto;
      font-size: 2.5vmin;
    }
  }

  .new {
    display: flex;
    grid-area: b;
    align-items: center;
    justify-content: center;

    button {
      @include styled-box($small-styled-box-config, $nord14, 15vmin, 6vmin);

      font-size: 2.5vmin;
    }

    .disabled {
      color: $nord3;
      text-decoration: line-through;
    }
  }

  .curated {
    grid-area: c;
    overflow-y: scroll;

    .curated-title {
      margin-top: 1.5vmin;
      font-size: 3vmin;
      text-align: center;
    }

    > hr {
      width: 80%;
    }

    .curated-warning {
      width: 75%;
      margin: 70% auto;
      text-align: center;

      > a {
        color: $nord11;
        font-size: 2.5vmin;
        text-decoration: none;
      }
    }

    .curated-previews {
      display: flex;
      flex-direction: column;
      align-items: center;

      .curated-preview-card {
        @include styled-box($large-styled-box-config, $nord1, 16vmin, 16vmin);

        margin: 2vmin 0 3vmin;

        .name {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 75%;
          height: 100%;
          margin: auto;
          font-size: 2.5vmin;
          text-align: center;
          overflow-wrap: anywhere;
          user-select: none;
        }
      }
    }
  }
}
