@use 'src/scss/core' as *;
@use 'src/scss/mixins/sliders' as *;

.Editor {
  @include styled-border;

  display: flex;
  width: 90vw;
  height: 75vh;
  margin: auto;
  margin-top: 5vh;

  .text {
    margin: auto;
    font-size: 2.5vmin;
  }

  .editor-layout {
    @include slider-layout;

    .slider-cards {
      .slider-card {
        .metadata {
          &:hover {
            cursor: default;
          }

          position: absolute;
          width: 300%;
          margin-top: 52.5vmin;
          font-size: 2.5vmin;
          text-align: center;

          > div {
            margin: 0 0 1.5vmin;

            > a {
              text-decoration: none;
            }

            .similar {
              color: $nord14;
            }

            .lesson {
              color: $nord8;
            }
          }
        }
      }
    }

    .interact-button {
      @include styled-box-animated($small-styled-box-config, $nord0, 5vmin, 5vmin);
    }

    .disabled {
      color: $nord3;
      text-decoration: line-through;

      &:hover {
        cursor: not-allowed;
      }
    }

    .delete-card {
      @include translate-styled-box-animated(-40vmin, -15vmin);

      background: $nord11;
    }

    .wipe-card {
      @include translate-styled-box-animated(-30vmin, -15vmin);

      background: $nord12;
    }

    .new-card {
      @include translate-styled-box-animated(30vmin, -15vmin);

      background: $nord14;
    }

    .submit-deck {
      @include translate-styled-box-animated(40vmin, -15vmin);

      background: $nord15;
    }

    .end {
      @include styled-box-animated($small-styled-box-config, $nord1, 5vmin, 5vmin);
      @include translate-styled-box-animated(50vmin, -9.5vmin);
    }
  }
}
