@use '../../../scss/style' as *;

.Editor {
  @include styled-border;

  display: flex;
  width: 90vw;
  height: 75vh;
  margin: auto;
  margin-top: 5vh;

  .text {
    margin: auto;
    font-size: 2.5vmin;
  }

  .editor-layout {
    @include slider-layout;

    .interact-button {
      @include styled-box(true, $nord0, 5vmin, 5vmin, 0.5vmin);
    }

    .disabled {
      color: $nord3;
      text-decoration: line-through;

      &:hover {
        cursor: not-allowed;
      }
    }

    .delete-card {
      @include translate-styled-box(-40vmin, -15vmin);

      background: $nord11;
    }

    .wipe-card {
      @include translate-styled-box(-30vmin, -15vmin);

      background: $nord12;
    }

    .new-card {
      @include translate-styled-box(30vmin, -15vmin);

      background: $nord14;
    }

    .submit-deck {
      @include translate-styled-box(40vmin, -15vmin);

      background: $nord15;
    }
  }
}
