@use 'src/scss/core' as *;
@use 'src/scss/mixins/modals' as *;

.confirm-modal {
  @include modal;

  flex-direction: column;
  align-items: center;
  width: 60vmin;
  height: 25vmin;

  * {
    color: $nord6;
  }

  .confirm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .text {
      width: 80%;
      margin-bottom: 2vmin;
      border: unset;
      outline: unset;
      background: unset;
      font-size: 3.5vmin;
      text-align: center;
    }

    .confirm {
      @include styled-box-animated($small-styled-box-config, $nord14, 5vmin, 5vmin);
    }

    .disabled {
      color: $nord3;
      text-decoration: line-through;

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}
