@import './nord';

.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.header {
  background-color: $nord0;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;

  .title {
    width: 40vw;
    max-width: 300px;
    color: #58CC02;
    font-size: calc(10px + 5vmin)
  }

  .userStatus {
    width: 50vw;
    max-width: 350px;
  }
}
