@import './mixins';

.create-edit-body {
	box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.4);
	border-radius: 15px;

	margin: auto;
	margin-top: 5vh;
	width: 90vw;
	height: 75vh;

	display: flex;
	justify-content: center;
	align-items: center;
	
	font-size: 4vmin;

	.editor {
		margin: auto;
		margin-top: 7.5vh;
		width: 60vw;
		height: 50vh;

		display: grid;
		align-items: center;
		justify-items: center;

		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas:
			'a x b'
			'a y b'
			'a y b'
			'a y b'
			'a y b';

		.nav-button {
			@include styled-button($nord2, $nord3, 15vmin, 6vmin, 0, 6vmin);
			font-size: 2.5vmin;
		}

		.previous {
			grid-area: a;
		}

		.next {
			grid-area: b;
		}

		.name {
			z-index: 1;
			grid-area: x;

			align-self: flex-end;
			margin-bottom: 5vmin;

			background: unset;
			border: unset;
			outline: unset;

			width: 150%;
	
			text-overflow: ellipsis;
			text-align: center;
			color: $nord6;
	
			font-family: 'Nunito', sans-serif;
			font-size: 3.5vmin;
		}

		.wipe-card {
			@include styled-button($nord12, $nord3, 5vmin, 5vmin, 5vmin, -6vmin);
			grid-area: a;
			font-size: 2.5vmin;
		}

		.delete-card {
			@include styled-button($nord11, $nord3, 5vmin, 5vmin, -5vmin, -6vmin);
			grid-area: a;
			font-size: 2.5vmin;
		}

		.new-card {
			@include styled-button($nord14, $nord3, 5vmin, 5vmin, -5vmin, -6vmin);
			grid-area: b;
			font-size: 2.5vmin;
		}

		.submit-deck {
			@include styled-button($nord15, $nord3, 5vmin, 5vmin, 5vmin, -6vmin);
			grid-area: b;
			font-size: 2vmin;
		}

		.submit-deck.disabled {
			text-decoration: line-through;
			color: $nord3;

			&:active {
				box-shadow: 0 0.5vmin 0 $nord3,
					0 1vmin 1vmin rgba(0, 0, 0, 0.35);
				transform: translate(5vmin, -6vmin);
				transition: unset;
			}

			&:hover {
				cursor: not-allowed;
			}
		}

		.delete-deck {
			@include styled-button($nord11, $nord3, 30vmin, 5vmin, 0, 19.2vmin);
			grid-area: y;
			font-size: 2.5vmin;
		}

		.delete-deck.disabled {
			text-decoration: line-through;
			color: $nord3;

			&:active {
				box-shadow: 0 0.5vmin 0 $nord3,
					0 1vmin 1vmin rgba(0, 0, 0, 0.35);
				transform: translate(0, 3vmin);
				transition: unset;
			}

			&:hover {
				cursor: not-allowed;
			}
		}

		.slider {
			position: relative;
			overflow: hidden;
		
			width: 35vmin;
			height: 70vmin;
		
			display: flex;
			flex-direction: column;
			grid-area: y;

			.slide {
				position: absolute;
				margin: 15vmin 0 0 -20vmin;
				width: 30vmin;
				left: 2.5vmin;
				opacity: 0;
			}
			
			.slide.active {
				z-index: 1;
				opacity: 1;
				transition: 0.3s;
			}
	
			.card {
				background: $nord1;
				box-shadow: 0 1vmin 0 $nord3,
					0 1vmin 1vmin 0.3vmin  rgba(0, 0, 0, 0.35);
				border-radius: 15px;
			
				width: 30vmin;
				height: 30vmin;
			
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
		
				> input {
					background: unset;
					border: unset;
					outline: unset;
			
					width: 85%;
					text-overflow: ellipsis;
					text-align: center;
					color: $nord6;
			
					font-family: 'Nunito', sans-serif;
					font-size: 2.5vmin;
				}
			}

			.metadata {
				position: absolute;
				width: 100%;
				margin-top: 4vmin;
				text-align: center;
				font-size: 2.5vmin;

				> div {
					margin: 0 0 2vmin;

					> a {
						text-decoration: none;
					}

					.similar {
						color: $nord14;
					}
					
					.lesson {
						color: $nord8;
					}
				}
			}
		}
	}
	
	::placeholder {
		color: $nord6;
		opacity: 0.4;
	}
}
