@import './mixins';

.create-body {
	box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.4);
	border-radius: 15px;

	margin: auto;
	margin-top: 5vh;
	width: 90vw;
	height: 75vh;

	display: flex;
	justify-content: center;
	align-items: center;
	
	font-size: calc(4vmin);

	.editor {
		margin: auto;
		margin-top: 7.5vh;
		width: 60vw;
		height: 50vh;

		display: grid;
		align-items: center;
		justify-items: center;

		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas:
			'a x b'
			'a y b'
			'a z b';

		.nav-button {
			@include styled-button($nord2, $nord3, 15vmin, 6vmin, 0, 6vmin);
			font-size: calc(2.5vmin);
		}

		.previous {
			grid-area: a;
		}

		.next {
			grid-area: b;
		}

		.name {
			grid-area: x;
			background: unset;
			border: unset;
			outline: unset;

			width: 150%;
	
			text-overflow: ellipsis;
			text-align: center;
			color: $nord6;
	
			font-family: 'Nunito', sans-serif;
			font-size: calc(3.5vmin);
		}

		.wipe-card {
			@include styled-button($nord12, $nord3, 5vmin, 5vmin, 5vmin, -6vmin);
			grid-area: a;
			font-size: calc(3vmin);
		}

		.delete-card {
			@include styled-button($nord11, $nord3, 5vmin, 5vmin, -5vmin, -6vmin);
			grid-area: a;
			font-size: calc(2.5vmin);
		}

		.new-card {
			@include styled-button($nord14, $nord3, 5vmin, 5vmin, -5vmin, -6vmin);
			grid-area: b;
			font-size: calc(3vmin);
		}

		.submit-deck {
			@include styled-button($nord15, $nord3, 5vmin, 5vmin, 5vmin, -6vmin);
			grid-area: b;
			font-size: calc(2vmin);
		}

		.submit-deck.disabled {
			text-decoration: line-through;
			color: $nord3;

			&:active {
				box-shadow: 0 0.5vmin 0 $nord3,
					0 1vmin 1vmin rgba(0, 0, 0, 0.35);
				transform: translate(5vmin, -6vmin);
				transition: unset;
			}

			&:hover {
				cursor: not-allowed;
			}
		}

		.delete-deck {
			@include styled-button($nord11, $nord3, 30vmin, 5vmin, 0, 3vmin);
			font-size: calc(2.5vmin);
		}

		.delete-deck.disabled {
			text-decoration: line-through;
			color: $nord3;

			&:active {
				box-shadow: 0 0.5vmin 0 $nord3,
					0 1vmin 1vmin rgba(0, 0, 0, 0.35);
				transform: translate(0, 3vmin);
				transition: unset;
			}

			&:hover {
				cursor: not-allowed;
			}
		}
	}

	.slider {
	
		position: relative;
		overflow: hidden;
	
		width: 35vmin;
		height: 35vmin;
	
		display: flex;
		align-items: center;
		grid-area: y;
	}
	
	.slide {
		position: absolute;
		margin: 0 0 0 -20vmin;
		width: 30vmin;
		left: 2.5vmin;
		opacity: 0;
		transition: 0.15s;
	}
	
	.slide.active {
		z-index: 1;
		opacity: 1;
		transition: 0.3s;
	}
	
	.card {
		box-shadow: 0 1vmin 0 $nord3,
			0 1vmin 1vmin 0.3vmin  rgba(0, 0, 0, 0.35);
		border-radius: 15px;
	
		width: 30vmin;
		height: 30vmin;
	
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background: $nord1;

		> input {
			background: unset;
			border: unset;
			outline: unset;
	
			width: 85%;
			text-overflow: ellipsis;
			text-align: center;
			color: $nord6;
	
			font-family: 'Nunito', sans-serif;
			font-size: calc(2.5vmin);
		}
	}
	
	::placeholder {
		color: $nord6;
		opacity: 0.4;
	}
}
