@import './mixins';

.header {
	box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.4);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;

	margin: auto;
	width: 90vw;
	height: 12.5vh;

	display: flex;
	align-items: center;
	justify-content: space-around;

	.title {
		width: 50vmin;

		color: #58cc02;
		font-size: calc(6vmin);
		text-align: center;

		&:hover {
			cursor: pointer;
		}
	}

	.userStatus {
		width: 45vmin;
		height: 10vh;

		text-align: center;
		font-size: calc(8px + 2vmin);

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		> div {
			margin: 0.25vmin;
			transform: translateY(-0.75vmin);
		}

		.googleButton {
			@include styled-button($nord6, $nord3, 15vmin, 3vmin, 0, 0);
			color: $nord0;
			font-size: calc(2vmin);
		}
	}	
}
