@import './mixins';

.home-body {
	margin: auto;
	margin-top: 5vh;

	width: 90vw;
	height: 75vh;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 24vmin;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 3vmin 4vmin;
	grid-template-areas:
		'a a a a a a b'
		'a a a a a a c'
		'a a a a a a c'
		'a a a a a a c';
	
	> div {
		box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.4);
		border-radius: 15px;
	}

	.decks {
		grid-area: a;

		position: relative;

		overflow-y: scroll;
		overflow-x: hidden;

		.text {
			position: absolute;

			width: 100%;
			height: 3.5vmin;
			top: 50%;
			margin-top: -1.75vmin;

			text-align: center;
			font-size: calc(2.5vmin);
		}

		.deck-preview {
			position: relative;
			background: $nord1;
			box-shadow: 0 1vmin 0 $nord3,
				0 1vmin 1vmin 0.3vmin  rgba(0, 0, 0, 0.35);
			border-radius: 15px;

			margin: 7.5vmin;
			min-width: 20vmin;
			min-height: 20vmin;
			width: 20vmin;
			height: 20vmin;

			display: inline-block;
			vertical-align: middle;

			transition: 0.05s;

			&:hover {
				cursor: pointer;
			}
			
			&:active {
				box-shadow: 0 0.1vmin 0 $nord3,
					0 0.5vmin 0.5vmin rgba(0, 0, 0, 0.35);
				transform: translateY(0.5vmin);
				transition: 0.05s;
			}

			.deck-preview-text {
				position: absolute;
				overflow: hidden;
				margin: auto;

				width: 75%;
				height: 100%;
				top: 0;
				left: 12.5%;

				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				
				word-break: break-word;
				font-size: calc(8px + 2vmin);				
			}

			.gradient {
				position: absolute;

				width: 78%;
				height: 100%;
				top: 0;
				left: 11%;

				background: linear-gradient($nord1,
				transparent, transparent, transparent,
				$nord1);
			}
		}
	}

	.new-action {
		grid-area: b;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.new-deck {
			@include styled-button($nord14, $nord3, 15vmin, 6vmin, 0, 0);
			font-size: calc(2px + 2vmin);
		}

		.new-deck.disabled {
			text-decoration: line-through;
			color: $nord3;

			&:hover {
				cursor: not-allowed;
			}

			&:active {
				box-shadow: 0 0.5vmin 0 $nord3,
					0 1vmin 1vmin rgba(0, 0, 0, 0.35);
				transform: unset;
				transition: unset;
			}
		}
	}

	.curated {
		grid-area: c;

		overflow-y: scroll;
		overflow-x: hidden;

		.text {
			margin: auto;
			width: 100%;
			text-align: center;
			font-size: calc(2px + 3vmin);
			margin-top: 3vmin;
		}

		.curated-preview {
			background: $nord1;
			box-shadow: 0 0.5vmin 0 $nord3,
				0 1vmin 1vmin 0.3vmin  rgba(0, 0, 0, 0.35);
			border-radius: 15px;

			margin: 3vmin auto;
			width: 15vmin;
			height: 15vmin;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			&:hover {
				cursor: pointer;
			}
			
			&:active {
				box-shadow: 0 0.1vmin 0 $nord3,
					0 0.5vmin 0.5vmin rgba(0, 0, 0, 0.35);
				transform: translateY(0.5vmin);
				transition: 0.05s;
			}

			.curated-preview-text {
				display: flex;
				justify-content: center;
				align-items: center;
	
				text-align: center;
				font-size: calc(1px + 2vmin);
			}
		}
	}
}
