@import './mixins';

.home-body {
	margin: auto;
	margin-top: 5vh;
	width: 90vw;
	height: 75vh;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 24vmin;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 3vmin 4vmin;
	grid-template-areas:
		'a a a a a a b'
		'a a a a a a c'
		'a a a a a a c'
		'a a a a a a c';
	
	> div {
		box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.4);
		border-radius: 15px;
	}

	.decks {
		grid-area: a;
		
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		overflow: scroll;

		.text {
			margin: auto;
			font-size: calc(2.5vmin);
		}

		.deck-preview {
			margin: 5.25vmin;
			width: 20vmin;
			height: 20vmin;

			background: $nord1;
			// <offset-x><offset-y><blur-radius><spread-radius>
			box-shadow: 0 1vmin 0 $nord3,
				0 1vmin 1vmin 0.3vmin  rgba(0, 0, 0, 0.35);
			border-radius: 15px;

			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			font-size: calc(8px + 2vmin);

			transition: 0.05s;

			> div {
				width: 80%;
			}

			&:hover {
				cursor: pointer;
			}
			
			&:active {
				box-shadow: 0 0.1vmin 0 $nord3,
					0 0.5vmin 0.5vmin rgba(0, 0, 0, 0.35);
				transform: translateY(0.5vmin);
				transition: 0.05s;
			}
		}
	}

	.action-nav {
		grid-area: b;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.new-deck {
			@include styled-button($nord14, $nord3, 15vmin, 6vmin, 0, 0);
			font-size: calc(2px + 2vmin);
		}
	}

	.curated {
		grid-area: c;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		overflow: scroll;

		.text {
			font-size: calc(2px + 3vmin);
			margin-top: 2vmin;
		}

		.curated-previews {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.curated-card {
			margin: 2vmin;
			width: 15vmin;
			height: 15vmin;

			background: $nord1;
			// <offset-x><offset-y><blur-radius><spread-radius>
			box-shadow: 0 0.5vmin 0 $nord3,
				0 1vmin 1vmin 0.3vmin  rgba(0, 0, 0, 0.35);
			border-radius: 15px;

			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			font-size: calc(1px + 2vmin);

			&:hover {
				cursor: pointer;
			}
			
			&:active {
				box-shadow: 0 0.1vmin 0 $nord3,
					0 0.5vmin 0.5vmin rgba(0, 0, 0, 0.35);
				transform: translateY(0.5vmin);
				transition: 0.05s;
			}
		}
	}
}
