@use '../../node_modules/nord/src/sass/nord.scss' as *;

@mixin styled-box($animated, $base, $width, $height, $depth, $spread-radius: 0) {
  width: $width;
  height: $height;
  transition: 0.05s;
  border: unset;
  border-radius: 15px;
  background: $base;
  box-shadow: 0 $depth 0 $nord3, 0 1vmin 1vmin $spread-radius rgb(0 0 0 / 35%);

  &:active {
    @if $animated {
      transform: translateY(0.5vmin);
      transition: 0.05s;
      box-shadow: 0 0.1vmin 0 $nord3, 0 0.5vmin 0.5vmin rgb(0 0 0 / 35%);
    }
  }

  &:hover {
    cursor: pointer;
  }
}

@mixin translate-styled-box($X, $Y) {
  transform: translate($X, $Y);

  &:active {
    transform: translate($X, $Y + 0.5vmin);
  }
}

@mixin styled-border {
  border-radius: 15px;
  box-shadow: 0 0 20px 6px rgb(0 0 0 / 40%);
}

@mixin slider-layout {
  display: grid;
  grid-template:
    'a'
    'b';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  width: 80%;
  height: 80%;
  margin: auto;

  .name {
    grid-area: a;
    border: unset;
    outline: unset;
    background: unset;
    font-size: 3.5vmin;
    text-align: center;
  }

  > button {
    z-index: 2;
    grid-area: b;
    margin: auto;
    font-size: 2.5vmin;
  }

  .nav-button {
    @include styled-box(true, $nord2, 15vmin, 6vmin, 0.5vmin);
  }

  .previous {
    @include translate-styled-box(-35vmin, -3vmin);
  }

  .next {
    @include translate-styled-box(35vmin, -3vmin);
  }

  .slider-cards {
    position: relative;
    grid-area: b;
    overflow: hidden;

    .slider-card {
      @include styled-box(false, $nord1, 30vmin, 30vmin, 1vmin, 0.3vmin);

      display: flex;
      position: absolute;
      left: 50%;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      margin: auto;
      opacity: 0;

      > * {
        width: 85%;
        border: unset;
        outline: unset;
        background: unset;
        font-size: 2.5vmin;
        text-align: center;
      }
    }

    .active {
      z-index: 1;
      transition: 0.3s;
      opacity: 1;
    }
  }
}

@mixin type-icon {
  position: absolute;
  top: 1.75vmin;
  right: 1.75vmin;
  width: 2.5vmin;
  filter: invert(34%) sepia(7%) saturate(1635%) hue-rotate(182deg) brightness(100%) contrast(87%);
}
