@import './mixins';

.practice-body {
	box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.4);
	border-radius: 15px;

	margin: auto;
	margin-top: 5vh;
	width: 90vw;
	height: 75vh;

	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(4vmin);

	.editor {
		margin: auto;
		margin-top: 7.5vh;
		width: 60vw;
		height: 50vh;
		
		display: grid;
		align-items: center;
		justify-items: center;

		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas:
			'a x b'
			'a y b'
			'a z b';

		.nav-button {
			@include styled-button($nord2, $nord3, 15vmin, 6vmin, 0, 6vmin);
			font-size: calc(2.5vmin);
		}

		.previous {
			grid-area: a;
		}

		.next {
			grid-area: b;
		}

		.name {
			grid-area: x;

			overflow: hidden;
			width: 150%;
			height: 75%;
	
			text-align: center;
			color: $nord6;
	
			font-family: 'Nunito', sans-serif;
			font-size: calc(3.5vmin);
		}
        
		.view-deck {
			@include styled-button($nord9, $nord3, 15vmin, 6vmin, 0, -6vmin);
			grid-area: a;
			font-size: calc(2.5vmin);
		}

		.toggle-language {
			@include styled-button($nord12, $nord3, 30vmin, 6vmin, 0, 3vmin);
			grid-area: z;
			font-size: calc(3vmin);
		}

		.edit-deck {
			@include styled-button($nord13, $nord3, 15vmin, 6vmin, 0, -6vmin);
			grid-area: b;
			font-size: calc(2.5vmin);
		}
	}
    
	.slider {
		grid-area: y;
    
		position: relative;
		overflow: hidden;
    
		width: 35vmin;
		height: 35vmin;
    
		display: flex;
		align-items: center;
	}
    
	.slide {
		position: absolute;
		margin: 0 0 0 -20vmin;
		width: 30vmin;
		left: 2.5vmin;
		opacity: 0;
		transition: 0.15s;
        
		&:hover {
			cursor: pointer;
		}
        
		:active {
			box-shadow: 0 0.1vmin 0 $nord3,
				0 0.5vmin 0.5vmin rgba(0, 0, 0, 0.35);
			transform: translateY(0.5vmin);
			transition: 0.05s;
		}
	}
    
	.slide.active {
		z-index: 1;
		opacity: 1;
		transition: 0.3s;
	}
    
	.card {
		position: relative;
		background: $nord1;
		box-shadow: 0 1vmin 0 $nord3,
			0 1vmin 1vmin 0.3vmin  rgba(0, 0, 0, 0.35);
		border-radius: 15px;
    
		width: 30vmin;
		height: 30vmin;
    
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		
		> div {
			//border: 1px solid red;
			outline: unset;
			overflow: hidden;
	
			width: 100%;
			text-align: center;
			color: $nord6;
    
			font-family: 'Nunito', sans-serif;
			font-size: calc(3vmin);
		}

		.gradient {
			position: absolute;
			width: 100%;
			height: 90%;
			top: 5%;
			left: 0;

			background: linear-gradient(90deg, $nord1,
			transparent, transparent, transparent,
			transparent, transparent, transparent,
			$nord1);
		}
	}
    
	::placeholder {
		color: $nord6;
		opacity: 0.4;
	}
}
