.view-body {
	margin: auto;
	margin-top: 5vh;

	width: 90vw;
	height: 75vh;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 24vmin;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 3vmin 4vmin;
	grid-template-areas:
		'a a a a a a b'
		'a a a a a a c'
		'a a a a a a c';
	
	> div {
		box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.4);
		border-radius: 15px;
	}

	.cards {
		grid-area: a;
		
		overflow-y: scroll;
		overflow-x: hidden;

		.card-preview {
			position: relative;
			background: $nord1;
			box-shadow: 0 1vmin 0 $nord3,
				0 1vmin 1vmin 0.3vmin  rgba(0, 0, 0, 0.35);
			border-radius: 15px;

			margin: 7.5vmin;
			min-width: 20vmin;
			min-height: 20vmin;
			width: 20vmin;
			height: 20vmin;

			display: inline-block;
			vertical-align: middle;

			.card-preview-text {
				position: absolute;
				overflow: hidden;
				margin: auto;

				width: 75%;
				height: 100%;
				top: 0;
				left: 12.5%;

				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: center;
				text-align: center;
				
				word-break: break-word;
				font-size: calc(4px + 2vmin);
			}

			.gradient {
				position: absolute;

				width: 78%;
				height: 100%;
				top: 0%;
				left: 11%;

				background: linear-gradient($nord1,
				transparent, transparent, transparent,
				transparent, transparent, transparent,
				$nord1);
			}
		}
	}

	.practice-edit-actions {
		grid-area: b;

		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		.practice-deck {
			@include styled-button($nord10, $nord3, 15vmin, 6vmin, 0, 0);
			font-size: calc(2.75vmin);
		}

		.edit-deck {
			@include styled-button($nord13, $nord3, 15vmin, 6vmin, 0, 0);
			font-size: calc(2.75vmin);
		}
	}

	.stats {
		grid-area: c;

		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		font-size: calc(2vmin);

		> :first-child {
			overflow: hidden;
			
			> :first-child {
				font-size: calc(8px + 2vmin);
			}
		}

		> div {
			width: 70%;
			max-height: 18%;
			text-align: center;

			> :last-child {
				font-size: calc(2px + 2vmin);
			}
		}
	}
}
