@import 'node_modules/nord/src/sass/nord.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import 'Header.scss';

.App {
  background-color: $nord0;
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
  color: $nord6;
}
