@use 'src/scss/core' as *;
@use 'src/scss/mixins/grid-layouts' as *;

.Deck {
  @include grid-layout;

  grid-template:
    'a a b'
    'a a c';
  grid-template-columns: 4fr 4fr 3fr;
  grid-template-rows: 1fr 4fr;
  width: 90vw;
  height: 75vh;

  .cards {
    @include grid-entries;

    grid-area: a;

    .card {
      @include styled-box-static($large-styled-box-config, $nord1, 20vmin, 20vmin);

      &:hover {
        cursor: text;
      }

      .card-text {
        @include grid-entry-text;

        font-size: 2vmin;
      }
    }

    .text {
      margin: auto;
      font-size: 2.5vmin;
    }
  }

  .deck-actions {
    display: flex;
    grid-area: b;
    align-items: center;
    justify-content: space-evenly;

    > button {
      @include styled-box($small-styled-box-config, $nord0, 15vmin, 6vmin);

      font-size: 2.5vmin;
    }

    .practice-button {
      background: $nord10;
    }

    .edit-button {
      background: $nord15;
    }
  }

  .deck-info {
    display: flex;
    grid-area: c;
    flex-direction: column;
    justify-content: center;
    padding: 1.5vmin 0 3vmin;

    > * {
      text-align: center;
    }

    .info-name {
      width: 70%;
      max-height: 30%;
      overflow: hidden;
      font-size: 3vmin;
      text-overflow: ellipsis;
    }

    > hr {
      width: 80%;
    }

    > div {
      margin: auto;
      font-size: 2.25vmin;
    }

    > button {
      @include styled-box($small-styled-box-config, $nord0, 30vmin, 5vmin);

      font-size: 2.5vmin;
    }

    .collection {
      margin: 1.5vmin auto 2vmin;
      background: $nord12;
    }

    .delete-deck {
      margin: auto;
      background: $nord11;
    }

    .disabled {
      color: $nord3;
      text-decoration: line-through;

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}
